@import '../setup/color-palette.map';

$colors: $colors !default;

@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }

  @error "Farbe `#{$color}` ist nicht in der Map $colors.";
  @return null;
}

@mixin -text-color( $color: null, $opacity: null ) {

  @if ( $opacity == null ) or ( $opacity == 1 ) {
    color: color($color);
  }

  @else {
    color: color( $color ); // Fallback
    color: rgba( color($color), $opacity );
  }
}