@import '../setup/common-variables';
@import 'background-color.mixin';
@import 'breakpoint.mixin';

@mixin -typo-headline-01 {
  font-size: $typo-headline-01;
  text-transform: uppercase;
  font-weight: normal;
  line-height: $line-height-headline-01;

  @include breakpoint('m') {
    font-size: $typo-headline-01-m;
  }
}

@mixin -typo-headline-02 {
  position: relative;
  font-size: $typo-headline-02;
  text-transform: uppercase;
  font-weight: normal;
  line-height: $line-height-headline-01;

  &::after {
    @include -background-color('green-01');
    
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    bottom: -15px;
    left: 0;
  }

  @include breakpoint('s') {
    font-size: $typo-headline-02-s;
  }
}

@mixin -typo-headline-03 {
  font-size: $typo-headline-03;
  text-transform: uppercase;
  font-weight: normal;

  @include breakpoint('m') {
    font-size: $typo-headline-03-m;
  }
}

@mixin -typo-headline-04 {
  font-size: $typo-headline-04;
  text-transform: uppercase;
  font-weight: normal;
}

@mixin -typo-headline-05 {
  font-size: $typo-headline-05;
  text-transform: uppercase;
}

@mixin -typo-copy {
  font-size: $typo-copy;
  line-height: $line-height-copy;
  font-weight: normal;
}

@mixin -typo-copy-strong {
  font-size: $typo-copy;
  line-height: $line-height-copy;
  font-weight: 700;
}

@mixin -typo-copy-big {
  font-size: $typo-copy-big;
  line-height: $line-height-copy;
}