@import '../../mixins/background-color.mixin';
@import '../../mixins/breakpoint.mixin';
@import '../../mixins/display.mixin';
@import '../../mixins/spacing.mixin';

@import 'navigation-footer.setup';

.navigation-footer {
	$bem-block: &;

	&__item {
		@include -spacing-inner('left', 4);
		@include -spacing-inner('right', 4);
		@include -display(inline-block);
		@include -font-size(14);
    @include -font-primary;
    
    position: relative;

		&:hover #{$bem-block}__link {
			@include -text-color('green-01');
		}

		&:not(:first-of-type) {
			&::before {
				@include -background-color('blue-02');
				
        content: '';
        position: absolute;
				left: -$navigation-footer-item-before-position-left;
				top: $navigation-footer-item-before-position-top;
				height: $navigation-footer-item-before-height;
				width: $navigation-footer-item-before-width;
				transform: translateY(-$navigation-footer-item-before-position-top);
			}
		}
	}

	&__link {
		@include -text-color('blue-02');
		@include -display(block);
		
    text-decoration: none;
    transition: all .3s ease-in-out;
	}
}
