@import '../../mixins/breakpoint.mixin';
@import '../../mixins/background-color.mixin';
@import '../../mixins/text-color.mixin';
@import '../../mixins/font-size.mixin';
@import '../../mixins/text-align.mixin';
@import '../../mixins/spacing.mixin';
@import '../../mixins/opacity.mixin';
@import '../../mixins/display.mixin';
@import '../../setup/pxtorem';

@import 'navigation-main.setup';

.navigation-main {
  @include -text-align(center);

  $bem-block: &;
  height: $navigation-main-height;

  &__item {
    @include -display(inline-block);

    &--parent {
      position: relative;
    }
    
    &--parent:hover #{$bem-block}__sub-menu {
      @include -opacity(1);
      visibility: visible;
      z-index: 10;
    }
  }

  &__link {
    @include -spacing-inner('left', 10px);
    @include -spacing-inner('right', 10px);
    @include -text-color('blue-02');
    @include -font-primary;
    @include -font-size(18);

    text-transform: uppercase;
    transition: color .2s ease-in-out;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      @include -text-color('green-01');
    }
  }

  &__sub-menu {
    @include -opacity(0);
    @include -background-color('white');
    @include -spacing-inner('top', 20);
    @include -spacing-inner('bottom', 10);
    @include -text-align(left);

    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 3px;
    z-index: -1;
    transition: .3s ease-in-out;
    box-shadow: 0 0 20px rgba(0,0,0, .25);
    visibility: collapse;
    
    &::before {
      content: '';
      position: absolute;
      top: -15px;
      left: 20px;
      width: 0; 
      height: 0;
      border-radius: 3px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #fff;
    }

    @include breakpoint('m') {
      min-width: rem(250px);
    }

    &__item {
      @include -display(block);
      position: relative;
      overflow: hidden;

      &:not(:first-of-type) {
        border-top: 1px #f3f3f3 solid;
      }

      &::before {
        @include -background-color('green-01');
        content: '';
        width: rem(3px);
        height: 100%;
        position: absolute;
        left: -4px;
        top: 0;
        transition: .3s;
      }

      &:hover::before {
        left: 0;
      }
    }

    &__link {
      @include -text-color('blue-02');
      @include -font-primary;
      @include -font-size(16);
      @include -display(block);
      @include -spacing-inner('top', 20);
      @include -spacing-inner('bottom', 20);
      @include -spacing-inner('left', 30);
      @include -spacing-inner('right', 80);

      transition: .2s ease-in-out;
      text-decoration: none;

      &:hover {
        @include -text-color('green-01');
        transform: translateX(4px);
      }
    }
  }
}