@import '../../setup/pxtorem';

$icon-text-outer-spacing-left: rem(15px) !default;
$icon-text-icon-position-reset: 0 !default;

$icon-text-label-position-left: rem(25px) !default;
$icon-text-label-line-height: rem(20px) !default;