@import '../../setup/common-variables';

.content {
  position: relative;

  padding: 0 $content-spacing-inner-horizontal 0 $content-spacing-inner-horizontal;
  max-width: $content-max-width;
  margin: 0 auto;

  &--fullwidth {
    max-width: unset;
    padding: 0;
  }
}